h2 {
	margin: 50px 0 30px 0;
}
.card2 {
	 display: block;
	 top: 0px;
	 position: relative;
	 max-width: 262px;
	 background-color: rgb(245, 245, 250);
	 margin: 20px 12px;
	 text-decoration: none;
	 z-index: 0;
	 overflow: hidden;
   border-radius:20px;
	 border: 1px solid #f2f8f9;
}
 .card2:hover {
	 transition: all 0.3s ease-out;
   box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
   top: -4px;
	 border: 1px solid #0275d8;
	 background-color: white;
}

 